ConstantFraction 5 10 15 20 25 30 35 40 50 60
ConstantThreshold -30
z_DUT -50. 50. 1500.
# CH (#) | POLARITY (+/-) | Baseline start time | Baseline stop time | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0 + -225e-9 -219e-9 0. 0. LP2+G40+TOT  0.
1 - -225e-9 -219e-9 0. 0. LP2+G40+TOT  0.
2 + -225e-9 -219e-9 0. 0. LP2+G40+TOT  0.
3 + -225e-9 -219e-9 0. 0. LP2+G40  0.
